*{
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: rgb(220, 220, 220);
}

body {background-color: rgb(14, 14, 14);}

.box {
    background-color: rgb(25, 25, 25);
    color: rgb(220, 220, 220);
    width: 65%;
    margin: 25px; 
    padding: 15px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

header {
    width: 75%;
    margin-top: 30px; 
    padding: 15px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


form#name_form {text-align: center;}

input {
    margin-top: 5px;
    width: 50%;
    padding: 5px;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 10px;
}

input[type=submit]{
    width: 51.5%;
    padding: 8px;
    background-color: rgb(28, 88, 28);
}

input[type=submit]:hover {background-color: rgb(37, 114, 37);}



